html{
    background-color: rgb(255, 191, 203);
    font-family: sans-serif;
    
}

h1{
    font-size: 28px;
    margin-left: 150px;
    margin-right: 150px;
}

ol{
font-size: 14px;
color: #2a4449;
font-style:inherit;
}

li{
    margin-left: 150px;
}

img{
    margin-left: 150px;
    margin-right: 150px;
}


table{
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 50px;
    background-color: rgb(251, 251, 251);
}